footer{ 
    position: fixed; 
    bottom: 0px; 
    height:40px;
    background-color:rgb(237, 211, 98);
    width:100%; 
}
mat-toolbar{
    background: rgb(34,193,195);
    background: linear-gradient(164deg, rgba(34,193,195,1) 0%, rgba(241,184,56,1) 100%);
}

body{
    background-size: cover;
    height: 100%;

    }

#icc{
    color:teal
     
}
