<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    </head>
    <mat-toolbar style="background-color:rgb(237, 211, 98);">
    <a routerLink="/login" routerLinkActive="active" (click)="logoutf()"><button mat-raised-button color="warn">Login/logout</button></a>
    <a routerLink="/register" routerLinkActive="active" style="margin-left: 20px;"><button mat-raised-button color="warn">Register</button></a>
    <span id="title" style="margin-left:30%; font-size: larger;font-family:Trirong,serif;" >NOTEBOOK NATION</span>   
    </mat-toolbar>
   
<body >
    <router-outlet></router-outlet>
</body>
    
    <footer>
        <div style="margin-top:5px;font-size:large;display:flex; margin-left:40%;">
        <p style="margin-top:10px;">ToDoNotes.&copy; All Rights Reserved </p> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        </div>
    </footer>
    
</html>