<html >
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    </head>
    <mat-toolbar>
    <span id="title" style="margin-left:50px; font-size: larger;font-weight: bold;font-family:Trirong,serif;"><img src="../assets/nn.jpg" width="40px" height="40px" >NOTEBOOK NATION</span>   
    <a routerLink="/login" routerLinkActive="active" (click)="logoutf()" style="margin-left:50%;"><button mat-raised-button color="warn">Login/logout</button></a>
    </mat-toolbar>
<body style="height:fit-content;">
    <router-outlet  ></router-outlet>
</body>
<br>
<br>
<div class="footer" style="font-size:large;display:flex; ">

    <div class="footer_contents">
        <p style="margin-top:10px;margin-left:40%;margin-top:5px;">NoteBook Nation.&copy; All Rights Reserved </p> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    </div>

</div>
   
    
</html>