.footer {

    height:40px; 
    width: 100%; 
    background:rgb(0, 83, 128);
   
 

    position: fixed;
    bottom: 0pt;
    left: 0pt;

}   

.footer_contents {

    height:40px; 
    width: 100%; 
    margin:auto;

}
mat-toolbar{
    background: rgb(0, 83, 128);
    color:white;
}

body{
    background-size: cover;
    height: 100%;

    }

#icc{
    color:teal
     
}
