mat-form-field{
   color: #ff6666;
   margin-right:10px;
   margin-left: 10px;
}

div{
    mat-form-field{
        width: 100%;
    }
}
.container{
    /* background-color: #ffcc66; */
    background: rgb(241,184,56);
    background: linear-gradient(164deg, rgba(241,184,56,1) 0%, rgba(34,193,195,1) 1%);
    padding-top:20px;
}

#titletag{
    background: rgb(241,184,56);
    background: linear-gradient(164deg, rgba(241,184,56,1) 0%, rgba(34,193,195,1) 1%); 
    margin-bottom:0%;
    text-align:center;
    width:100%;border-radius:2px;
   
}
button{
    margin-left:100px;
    margin-bottom:30px;
}

