mat-form-field{
   color: #ff6666;
   margin-right:10px;
   margin-left: 10px;
}

div{
    mat-form-field{
        width: 100%;
    }
}
.container{
    /* background-color: #ffcc66; */
    background-color:rgb(119, 163, 186) ;
    padding-top:20px;
}

#titletag{
    background-color:rgb(0, 83, 128) ;
    margin-bottom:0%;
    color:white;
 text-transform: capitalize;
    font-weight: bold;
    text-align:center;
    width:100%;border-radius:2px;
   
}
button{
    margin-left:100px;
    margin-bottom:30px;
}

